* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  list-style-type: none;
}

body {
  background-color: #0b0303;
  color: #fff;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

.nav-bar nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.nav-bar nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.nav-bar nav ul li {
  cursor: pointer;
  position: relative;
}
.nav-bar nav ul li:hover {
  color: #d73e3f;
}
.nav-bar nav ul li i {
  position: absolute;
  top: -0.5rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 5px;
}

.pages {
  height: 100vh;
  width: 100vw;
}

#home-page .fa-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 375px;
  animation: spin 4s linear infinite;
  border-radius: 50%;
  background: -webkit-linear-gradient(60deg, #9d0203 50%, #d73e3f, #f9e3e2, #9d0203);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-radius: 50%;
  z-index: -1;
}
#home-page .fa-circle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #9d0203;
  border-radius: 50%;
  z-index: 999;
  border-inline: 5px solid rgba(0, 231, 0, 0.02);
  box-shadow: inset 0 0 50px #9d0203, inset 20px 0 80px #d73e3f, inset -20px 0 80px #5a0a0a, inset 20px 0 300px #d73e3f, inset -20px 0 300px #5a0a0a, 0 0 50px #9d0203, -10px 0 80px #d73e3f, 10px 0 80px #5a0a0a;
}
#home-page #name {
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 500;
}
#home-page .first-outline {
  width: 525px;
  height: 525px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#home-page .first-outline svg {
  position: absolute;
  animation: arcRotation 10s linear infinite;
  width: 100%;
  height: 100%;
}
#home-page .second-outline {
  width: 90vw;
  height: 150vh;
  border: 2px solid #5a5252;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
  opacity: 0.2;
}
#home-page .scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  text-align: right;
}
#home-page .scroll-down h1 {
  font-size: 13px;
}
#home-page .scroll-down p {
  color: #5a5252;
  font-size: 11px;
}
#home-page .scroll-down i {
  color: #d73e3f;
  font-size: 24px;
}
#home-page section.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  padding-left: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
#home-page section.info ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
#home-page section.info ul p {
  color: #5a5252;
  font-size: 13px;
}
#home-page section.info ul.left {
  gap: 5rem;
  align-items: flex-start;
}
#home-page section.info ul.left .rotated-text {
  transform: rotate(-90deg);
}
#home-page section.info ul.left .rotated-text.middle::after {
  content: "";
  position: absolute;
  left: 0;
  top: -0.5rem;
  width: 2rem;
  height: 2px;
  background-color: #d73e3f;
}
#home-page section.info ul.left li {
  width: 150px;
}
#home-page section.info ul.left i {
  color: #fff;
  font-style: normal;
}
#home-page section.info ul.left h1 {
  font-size: 16px;
  margin-bottom: 0.5rem;
  color: #fff;
}
#home-page section.info ul.right {
  align-items: flex-end;
  text-align: center;
  width: 200px;
}
#home-page section.info ul.right li {
  border-right: 2px solid #d73e3f;
  padding-right: 1rem;
  position: relative;
}
#home-page section.info ul.right li::after {
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  background-color: #fff;
  height: 1.5rem;
  width: 2px;
  animation: lineMovement 10s infinite;
  border-radius: 2px;
}
#home-page section.info ul.right li.second::after {
  animation-delay: 500ms;
}
#home-page section.info ul.right li.third::after {
  animation-delay: 1s;
}
#home-page section.info ul.right i {
  font-size: 30px;
  padding-bottom: 0.5rem;
}
#home-page section.info ul.right h1 {
  font-size: 15px;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes arcRotation {
  100% {
    rotate: 360deg;
  }
}
@keyframes lineMovement {
  0%, 100% {
    top: 0;
  }
  50% {
    top: calc(100% - 1rem);
  }
}/*# sourceMappingURL=styles.css.map */