$black: #0b0303;
$grey: #5a5252;
$dark-red: #5a0a0a;
$medium-red: #9d0203;
$light-red: #d73e3f;
$dark-pink: #c27783;
$light-pink: #e4a3a3;
$beige: #f9e3e2;

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	list-style-type: none;
}

body {
	background-color: $black;
	color: #fff;
	overflow: hidden;
}

// =============
// Navigation
// =============

.nav-bar nav {
	position: absolute;
	top: 2rem;
	right: 2rem;

	ul {
		@include flexCenter(row);
		gap: 2rem;

		li {
			cursor: pointer;
			position: relative;

			&:hover {
				color: $light-red;
			}

			i {
				position: absolute;
				top: -0.5rem;
				left: 50%;
				transform: translate(-50%);
				font-size: 5px;
			}
		}
	}
}

// =============
// Pages
// =============

.pages {
	height: 100vh;
	width: 100vw;
}

// =============
// Home Page
// =============

#home-page {
	.fa-circle {
		position: absolute;
		color: $medium-red;
		top: 50%;
		left: 50%;
		font-size: 400px;
		// border-width: 2px;
		// border-style: solid;
		animation: spin 4s linear infinite;
		// border-color: transparent $beige;
		border-radius: 50%;

		&::after {
			content: "";
			background: linear-gradient(60deg, $beige, $light-red);
			position: absolute;
			top: -3px;
			left: -3px;
			right: -3px;
			bottom: -3px;
			// height: 100%;
			// width: 100%;
			border-radius: 50%;
			z-index: -1;
		}
	}

	.second-outline {
		width: 90vw;
		height: 150vh;
		border: 2px solid $grey;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
		border-radius: 50%;
		opacity: 0.2;
	}

	.scroll-down {
		@include flexCenter(row);
		gap: 1rem;
		position: absolute;
		bottom: 2rem;
		right: 2rem;
		text-align: right;

		h1 {
			font-size: 14px;
		}

		p {
			color: $grey;
			font-size: 12px;
		}

		i {
			color: $light-red;
			font-size: 24px;
		}
	}
}

@keyframes spin {
	0% {
		transform: translate(-50%, -50%);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

// =============
//
// =============
